.secondbg {
    background: #000;
}

.port {
	margin: 0 0 40px 0;
	
	h2 {
	   color: #fff;
	   padding: 10px;
	   text-align: center;
	}
	
	img {
	display: block;
	}
	
	li {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	}
	
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
	} 	
}





