.secondbg {
    background: #000;
}

.port {
	margin: 0 0 40px 0;
	
	h2 {
	   color: #fff;
	   padding: 10px;
	   text-align: center;
	   font-size: 32px;
	}
	
	img {
	display: block;
	}
	
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
	} 	
	
	li {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
		
		.box {
		width: 100%;
		position: absolute; 
		padding: .5em;
		bottom:-60px;
		left: 0;
		-webkit-transition: bottom  ease-out 200ms;
		-moz-transition: bottom  ease-out 200ms;
		-o-transition: bottom  ease-out 200ms;
		transition: bottom  ease-out 200ms;
		color: #fff;
		}
		
		&:hover .box {
		bottom: 0;
		background: rgba(0,0,0, .5);
		}
	}
}





